.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

.quantity-controller-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.cart-header-image {
  border-radius: 15px !important;
  width: 150px !important;
  margin: 20px;
  margin-left: 20px;
}

.name-restaurant {
  color: rgb(71, 65, 65);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

.button-remove {
  background-color: transparent;
  border: none;
}

.order-container {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #eaebed;
  background-color: rgb(236, 246, 231);
  padding: 25px;
  border-radius: 3px;
  margin-top: 20px;
}

.empty {
  color: #f7931e !important;
  font-size: 22px !important;
}

.empty-container {
  background-color: rgb(254, 252, 250) !important;
  padding-left: 30px;
  padding-right: 30px;
  width: 90vw;
  height: 80vh;
  border-radius: 5px !important;
  box-shadow: 5px 4px 4px 4px #eaebed;
}

.para-success {
  color: green;
  font-weight: 600;
  font-size: 26px;
}

.cart-heading-container {
  display: flex;
  max-width: 430px;
    background-color: rgb(241, 235, 232);
  margin: 10px;
  margin-left: 0px;
      border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .cart-heading-container {
    display: flex;
    width: 100%;
    max-width: 430px;
    background-color: rgb(241, 235, 232);
    margin-left: 0px;
    color: white !important;
    border-radius: 15px;
    padding-right: 20px;
  }

  .order-container {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 40vh;
    align-items: center;
    box-shadow: 0px 4px 15px 0px #eaebed;
    background-color: rgb(242, 251, 236);
    padding: 25px;
    margin-top: 80px;
    text-align: center;
  }

  .cart-header-image {
    border-radius: 15px !important;
    margin-left: 10px !important;
  }
}

.summary-container {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

.name-restaurant {
  margin-top: 20px;
}
