.slick-prev:before,
.slick-next:before {
  color: black; /* or white */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slide div {
  outline: none;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slick-slide div {
  outline: none;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-container {
  padding: 20px 0px;
}

@media screen and (max-width: 768px) {
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
