.footer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #0F172A;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  flex: 1;
}

.logo-footer {
  width: 50px;
  height: 40px;
  margin-right: 10px;
}
.heading-footer {
  font-style: italic;
}