.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

.login-website-logo-mobile-img {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 35px;
}

@media screen and (min-width: 992px) {
  .login-website-logo-mobile-img {
    display: none;
  }
}


.login-img {
  width: 310px;
  border-bottom-left-radius: 300px;
}

.login-img-2 {
  background-image: url(../../assets/login-image.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swigato {
  font-style: italic;
  color: white;
  font-size: 14px;
  background-color: #0f172a;
  padding: 5px 14px !important;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-bottom: 0px;
}

.small-devices-logo {
  position: relative;
  bottom: 40px;
  right: 80px;
  display: flex;
  align-items: center;
}

.swigato-2 {
  margin-bottom: 0px;
  font-style: italic;
  color: white;
  font-size: 16px;
  background-color: #0f172a;
  padding: 5px 18px !important;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

/* @media screen and (min-width: 992px) {
  .login-img {
    width: 60%;
    max-width: 524px;
    flex-shrink: 1;
    margin-right: 20px;
  }
} */

.login-website-logo-desktop-img {
  width: 185px;
}

@media screen and (max-width: 991px) {
  .login-website-logo-desktop-img {
    display: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  background-color: white;
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 400px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #f7931e;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}

@media screen and (min-width: 768px) {
  .login-form-container {
    width: 100vw !important;
  }

}

 @media screen and (max-width: 767px) {
  .login-form-container {
    margin-top: 60px;
    height: fit-content;
  }

} 
